<head>
	<title>Prueba Banco De Bogota</title>
    </head>

    
        <header>
            <div class="contenedor">
            <div>
                <BR><h2 class="logotipo">Prueba </h2>     
            </div>
            <img src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png" alt="Logo politecnico Grancolombiano">
            
            </div>
        </header>
<main>
    
  <div class="contenedor">
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="25">
      
        <mat-toolbar class="tool">REGISTRATE </mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          
          <mat-form-field>
            <mat-label>Ingresa La locacion</mat-label>
            <input matInput formControlName="idUsuario" placeholder="Locacion" required [(ngModel)]="User.username">
          </mat-form-field>
          <BR>
        
          <mat-form-field >
            <mat-label>Ingresa el area</mat-label>
            <input matInput formControlName="area" placeholder="Area"  required [(ngModel)]="User.area_m2">
          </mat-form-field>
          <BR>
         
        
          <BR>
           <button mat-raised-button  type="submit" [disabled]="!loginForm.valid"  (click)="postallLocation()">Registrarse</button>
          
        </form>
          </mat-card>
    </div>
  </div>

 
</main>

 <footer id="Contacto" class="footer" >
    <div >
        <p>Wilmer Ricardo Catsro D</p>
        <p>1031165839</p>
        
        
    </div>

</footer>



   
